[x-cloak] {
    display: none;
}

h4 {
    margin: 0;
}
.nav-item > a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.block-header {
    margin-bottom: -8px !important;
}

.card .header {
    padding: 5px 0 !important;
}

.modal-backdrop.show {
    z-index: 3 !important;
}
.modal {
    z-index: 50 !important;
}
.sidebar {
    z-index: 0 !important;
}
section.content {
    z-index: 4 !important;
}
